*{
    width: 80%;
    padding: 10px;
    margin: auto;
    background-image: url(Images/background.jpg);
    background-repeat: no-repeat;
    background-size: auto;
    background-attachment: fixed;
    background-position: top;
}   
.main-page-content{
    background-color: rgba(193, 231, 231, 0.521);
    display: flex;
    flex-flow: column;
    padding: 3px;
    border-width: 5px;
    border-style: solid;
    border-color: red gray rgba(165, 0, 0, 0.877) rgb(119, 119, 119);
    }
.Headings{
    font-family: Cambria, Cochin, verdana, 'Times New Roman', serif;
    padding: 2px;
    color: rgb(20, 2, 71);
    text-align: center;
    align-items: center;
    font-size: 45px;
   }
#main-line{
    display: flex;
    flex-flow: column;
    font-size: 70px;
    background-color: #c0c0c0;
    width: auto;
    margin: 0px 10px 0px 10px;
    border-left: 7px solid rgba(196, 23, 0, 0.932);
    font-family: Georgia, 'Times New Roman', Times, serif;
    }
figure{
    display: flex;
    flex-flow: column;
    padding: 1px;
    width: 80%;
    margin: auto;
   }

figcaption{
    background-color: #222;
    color: #fff;
    font: italic smaller sans-serif;
    padding: 3px;
    text-align: center;
    }   
.main-page-content ul div li{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 500;
    font-style: italic;
    font-size: medium;
    }
h1,h2{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    color: rgba(196, 23, 0, 0.932);
    background-color: rgb(160, 158, 158);
    border-left: 3px solid rgba(196, 23, 0, 0.932);
    }
    #return{
        text-align: right;
    }
    .main-page-content ul a li{
    font-size: 35px;
    list-style: none;
    text-align: center;
    text-decoration: underline;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode';
    color: rgb(241, 177, 0);
    background-color: rgb(218, 2, 45);
    border: 2px dotted rgb(241, 177, 0);
    }
    .return-back{
        display: inline-flex;
        margin-left: 70px;
        padding-left: 35px;
        }