*{
    width: 80%;
    padding: 10px;
    margin: auto;
}   
.main-page-content{
    display: flex;
    flex-flow: column;
    padding: 3px;
    border-width: 5px;
    border-style: solid;
    border-color: red gray rgba(165, 0, 0, 0.877) rgb(119, 119, 119);
    }
.Headings{
    font-family: Cambria, Cochin, verdana, 'Times New Roman', serif;
    color: rgb(20, 2, 71);
    text-align: center;
    align-items: center;
    font-size: 45px;
   }
#main-line{
    font-size: 70px;
    background-color: #c0c0c0;
    border-left: 7px solid rgba(196, 23, 0, 0.932);
    font-family: Georgia, 'Times New Roman', Times, serif;
    }
figure{
    border: #c0c0c0;
    border-radius: 2px;       
    border-width: thin;
    border-style: solid;
    display: flex;
    flex-flow: column;
    padding: 1px;
    max-width: 70%;
    margin: auto;
   }
img{
    max-width: 1800px;
    max-height: 920px;
    }
figcaption{
    background-color: #222;
    color: #fff;
    font: italic smaller sans-serif;
    padding: 3px;
    text-align: center;
    }   
.main-page-content ul div li{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 500;
    font-style: italic;
    font-size: medium;
    }
h1,h2{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    color: rgba(196, 23, 0, 0.932);
    background-color: rgb(160, 158, 158);
    border-left: 3px solid rgba(196, 23, 0, 0.932);
    }
#return{
    text-align: center;
    }
.main-page-content ul a li{
    font-size: 35px;
    text-align: center;
    text-decoration: underline;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(241, 177, 0);
    background-color: rgb(218, 2, 45);
    }